@model  Store.Data.Content.AboutSO

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-text my-2 my-lg-0 ml-auto" action="@Url.Action("AboutEdit", "Admin")" method="post">
    <input type="hidden" name="title" value="@Model.Title"/>

    <div class="my-4">
        <h5 class="editor-label">О магазине:</h5>
        <textarea class="form-control form-text" rows="10" cols="20" name="description">@Model.Description</textarea>
    </div>

    <div class="my-4">
        <button class="btn btn-success" type="submit">Сохранить</button>
        <a class="ml-5" href="@Url.Action("InfoList", "Admin")">Отменить изменения и вернуться к списку</a>
    </div>
</form>