@model CategoryModel

@{
    ViewData["Title"] = "Категории";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form class="form-group my-4 ml-auto" asp-controller="Admin" asp-action="CategoryEdit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="categoryId" value="@Model.Id"/>

    <div class="my-4">
        <h5 class="editor-label">Название:</h5>
        <input class="form-control" type="text" name="categoryName" placeholder="Название категории" maxlength="30" value="@Model.Name"/>
    </div>

    <div class="my-4">
        <h5 class="editor-label">Изображение:</h5>
        <img class="img-thumbnail" src="@Model.ImgLink" height="200" width="200"/>
        <input class="form-control-file my-2" type="file" name="uploadedFile"/>
        <p class="text-danger">Максимальный размер: 4 МБ</p>
    </div>

    <div class="btn-offset my-4">
        <button class="btn btn-primary btn-update my-2 my-sm-0" type="submit">Сохранить</button>
        <a class="ml-5" href="@Url.Action("CategoryList", "Admin")">Отменить изменения и вернуться к списку</a>
    </div>
</form>


