@model Info

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-text my-2 my-lg-0 ml-auto" action="@Url.Action("InfoEdit", "Admin")" method="post">
    <input type="hidden" name="id" value="@Model.Id"/>

    <div class="my-2">
        <label class="editor-label">Заголовок:</label>
        <input class="form-control title-input mr-ms-2" type="text" name="title" maxlength="30" value="@Model.Title"/>
    </div>

    <div class="my-2">
        <label class="editor-label">Описание:</label>
    <textarea class="form-control description-textarea text-box-multi-line" name="description" placeholder="Описание" maxlength="1024" rows="10" cols="20" wrap="hard" autofocus>@Model.Description</textarea>
    </div>

    <button class="btn btn-primary btn-update my-2 my-sm-0" type="submit">Обновить</button>
</form>

