@* @model IEnumerable<Info> *@

@{
    ViewData["Title"] = "Инфо страницы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h1>Not implemented</h1>

@*
<table class="table">
    @foreach (var item in Model) {
        <tr>
            <td>
                <form action="@Url.Action("Info", "Admin")" method="post">
                    <input type="hidden" name="id" value="@item.Id"/>
                    <button class="btn btn-outline-info" type="submit">@item.Title</button>
                </form>
            </td>
        </tr>
    }
</table>
*@
