@model Store.Data.Content.AboutSO

@{
    ViewData["Title"] = Model.Title;
}

<h2 class="info-title">@Model.Title</h2>

<div class="info-additional my-4">
    <p class="info-text">@Model.Description</p>
</div>