@model Store.Data.Content.AboutSO

@{
    ViewData["Title"] = Model.Title;
}

<p class="info-title">@Model.Title</p>

<div class="info-additional">
    <p class="info-text">@Model.Description</p>
</div>