@model IEnumerable<Store.Category>

@{
    ViewData["Title"] = "Интернет Аниме-магазин";
}

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@Url.Action("SearchByCategory", "Search", new { categoryId = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
        </tr>
}
    </tbody>
</table>

