@model IEnumerable<CategoryModel>

@{
    ViewData["Title"] = "Интернет Аниме-магазин";
}

<table class="table">
    <tbody>
        @foreach (var item in Model) {
            @if (item.Id == 1) continue;
                <tr>
                    <td>
                        <a href="@Url.Action("SearchByCategory", "Search", new { categoryId = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

