@model IEnumerable<CategoryModel>

@{
    ViewData["Title"] = "Интернет Аниме-магазин";
}


@foreach (var item in Model) {
    @if (item.Id == 1) continue;
    <a class="" href="@Url.Action("SearchByCategory", "Search", new { categoryId = item.Id })">
        <img class="" src="@item.ImgLink" height="250" width="250"/>
        <p class="">@item.Name</p>
    </a>
}

