@model IEnumerable<Store.Category>

@{
    ViewData["Title"] = "Home Page";
}

<form action="/search" method="get">
    <input type="text" name="query" value=""/>
    <button type="submit">Найти</button>
</form>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
