@model Store.Data.Content.PaymentSO

@{
    ViewData["Title"] = Model.Title;
}

<h2 class="info-title">@Model.Title</h2>

<div class="info-image my-4">
    <img class="" src="@Model.ImgLink" height="200" width="800"/>
</div>

<div class="info-numers my-4">
    <label class="text-info info-label">Способы оплаты</label>
    @foreach(var item in Model.Options)
    {
        <p class="info-text">@item</p>
    }
</div>


<div class="info-additional my-4">
    <label class="text-info info-label">Дополнительная информация</label>
    <p class="info-text">@Model.Additional</p>
</div>