@model OrderModel

@{
    ViewData["Title"] = "Подтверждение мобильного";
}

<h1>Подтверждение мобильного</h1>

<p>
    Для оформления заказа необходимо подтвердить номер вашего мобильного.
    Введите номер и нажмите <em>Отправить код</em>. На ваш номер будет отправлен *код подтверждения*.
</p>

<form action="@Url.Action(nameof(OrderController.SendConfirmation))" method="post">
    <div class="form-group">
        <label for="cellPhone">Мобильный телефон</label>
        <input type="text" class="form-control" name="cellPhone" placeholder="+79876543210" value="+79876543210" />
        @*@if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }*@
    </div>
    <button type="submit" class="btn btn-success">Отправить код</button>
</form>
